body {
	margin-bottom: 200px;
}

#backdrop {
	z-index: 1202;
}

.page-commands {
	background-color: rgba(0, 0, 0, 0.1);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1201;
	text-align: center;
	padding: 10px;

	> * {
		margin-right: 10px !important;
	}
}

.row-commands {
	> * {
		margin: 0 15px !important;
	}
}

.MuiDataGrid-footerContainer {
	margin-bottom: 70px;
}

.landing-page-menu {
	button {
		text-decoration: underline;
	}
}
